# Flutter
debt_matching/.dart_tool/
debt_matching/build/
debt_matching/.packages
debt_matching/.pub-cache/
debt_matching/.pub/
debt_matching/*.g.dart

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Misc
*.log
