altgraph==0.17.4
black==25.1.0
click==8.1.8
colorama==0.4.6
et_xmlfile==2.0.0
greenlet==3.1.1
importlib_metadata==8.7.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mypy-extensions==1.0.0
numpy==2.0.2
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pathspec==0.12.1
pefile==2023.2.7
platformdirs==4.3.7
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
PyQt6==6.8.1
PyQt6-Qt6==6.8.2
PyQt6_sip==13.10.0
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32-ctypes==0.2.3
qt-material==2.14
setuptools==80.8.0
six==1.17.0
SQLAlchemy==2.0.40
tomli==2.2.1
typing_extensions==4.13.0
tzdata==2025.2
xlrd==1.2.0
XlsxWriter==3.2.2
zipp==3.21.0
